<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Happy Birthday to you <%= @user.email %></h1>
    <p>
      I hope your special day will bring you lots of happiness, love, and fun. You deserve them a lot. Enjoy!
    </p>
  </body>
</html>