<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Welcome to Background Jobs Site <%= @user.email %></h1>
    <p>
      You have successfully signed up to Background Jobs Site,
      your username is: <%= @user.created_at %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>